*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(251, 244, 244);
}
header{
    width: 100%;
    position: absolute;
    top:0;

}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center
}
a{
    text-decoration: none;
    font-family: Oswald;
    color: #091501;

}
   
 h1 {
  
        color: #dfed33;
        font-size: 80px;
        font-family: Oswald;
        text-transform: uppercase;
    
    }
  .glitchButton{
    position:absolute;
    top:0px; 

    height: 100vh;
    width: 100%;
  }
   /****gallery*/

.flex-container {
    position:absolute ;
   top:610px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 250px;
  }
  
  .flex-item-left {

    background-image: url('/img/g.png') ;
    flex: 50%;
    border-radius: 0 90px  90px 0;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    border:solid black 2px;
    font-size:4rem ;
  }
  .tea{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('/img/tea.png') ;
    background-position: center;
    flex: 50%;
    border-radius: 90px 0 0 90px;
    border:solid rgb(2, 2, 1) 2px;
    font-size: 4rem;
    

  }

  /**python**/
  .generativePython{
    position: absolute;
    background-color: #ff6961;
    top: 1060px;
    width: 100%;

  }
  
 
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }