@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
	
@font-face {
	font-family: 'ITA';
	src: url('/fonts/ITCAvantGardeStd-Bk.ttf');
	
  }

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family:"ITA",serif ;
		color:black;
		font-weight: 600;
	
		
	}
	body{
		overflow: hidden;
	}
	

	.project{
		position: absolute;
		width: 100%;	
		height: max-content;
		display: flex;
		justify-content: center;
		
	
	}
	

	a{
		
		padding: 7px;
	/*	border: solid 2px black;*/
		text-decoration: none;
		border-radius: 5%;
		margin: 10px;
		font-size: 2rem;
		
		
	}
	a:hover{
		box-shadow: 5px 10px  rgb(24, 12, 0) ;
		background-color: aliceblue;

	}
	footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		font-size: 3rem;

	}
	.title{
		width: 100%;
		height: max-content;	
		text-align: center;
		
		
		
	}
	main{
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		background-color: black;
		z-index: -999;
		position: absolute;
	}
	
	

	/*tablets*/
	@media (min-width: 768px) {
		a{font-size: 5rem;}
		footer{font-size: 4rem;}
	}

	/*desktop*/
	@media (min-width: 1024px) {
		.project{justify-content: space-between;}
		a{font-size: 2.5rem;}
		footer{font-size:2.7rem;}
		.title{text-align: left;}
	}