@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
	
@font-face {
	font-family: 'ITA';
	src: url('/fonts/ITCAvantGardeStd-Bk.ttf');
	
  }

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family:"ITA",serif ;
	/*	background-color: rgb(13, 13, 13)*/
		color:black;
		font-weight: 600;
	
		
	}
	body{
		overflow: hidden;
	}
	

	.project{
		position: absolute;
		width: 100%;
		display: flex;
		/*justify-content: space-between;*/
		justify-content: center;
		height: max-content;
		font-size: 22vw;
	
	}
	

	a{
		
		padding: 7px;
		/*color:aliceblue;*/
		border: solid 2px black;
		text-decoration: none;
		border-radius: 5%;
		margin: 10px;
		
	}
	a:hover{
		box-shadow: 5px 10px  rgb(24, 12, 0) ;
		background-color: aliceblue;

	}
	footer{
		position: absolute;
		bottom: 0;
	}
	.title{
		width: 100%;
		height: max-content;	
		text-align: center;
		font-size: 20vw;
		background-color: transparent!;
		color:white;
		
	}
	#p5_loading{
		display: none;
	}

	@media only screen and (min-width: 768px) {
		.project{font-size: 2.7rem; justify-content: flex-end;}

		h1{font-size: 5rem;}
	}
	